div ul{
    padding: 0%;
    top: 0%;
    left: 0%;
    list-style: none;
    position: fixed;
    background-color: green;
    width: 200px;
    height: 100%;
    
}


li{
    height: 20%;
    margin-top: 30%;
    
}

li:hover{
    background-color: red;
    

}
a{
    text-decoration: none;
    color: white;
}
p{
    margin-left: 12%;
}
