div{
    background-color: rgb(130, 221, 252);
}
p{
    margin: 0%;
}
h3{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%; 
}
h2{
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
    margin: 0%;
}
u{
    color: red;
}
#amarillo{
    color: yellow;
    font-size: larger;
}
#blanco{
    color: white;
}
p.capacidades{
    color: white;
    background-color: rgba(0, 191, 255, 0.76);
}