body{
    background-color: red;
}

div.azul{
    background-color: blue;
    width: 300px;
    height: 300px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    position: static;
}
div.amarillo{
    background-color: yellow;
    width: 300px;
    height: 100px; 
    margin-left: 5%;
    margin-right: 5%;
    float:left;
    position: static;
}

div.verde{
    background-color: green;
    width:84%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    float:left;
    position: static;
}
