h1{
    margin-left: 10%;
    padding-left: 10%;
}

/* El asterisco sirve para referenciar a todas las etiquetas */

/*body{
    margin-left: 0px;
    padding-left: 0px;
}*/
body{
    margin-left: 10px;
    padding-left: 10px;
}
div span{
    background-color: blueviolet;
}
tr>td{
    background-color: green;
}
div+p{
    background-color: brown;
}