body{
    background-image: url(./plaza-mayor-Valladolid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div img{
    position: relative;
    margin-top: 20%;
    margin-left: 60%;
    display: block;
}
div h1{
    position: absolute;
    margin-left: 60%;
    text-transform: uppercase;
    display: inline-block;
}